<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="VSGenero.Properties.Settings.cs_greg_fullman1ConnectionString" connectionString="Data Source=FDDB1\TEAM08CS;Initial Catalog=cs_greg.fullman1;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup/></configuration>
