<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="logDirectory" value="${specialfolder:folder=ApplicationData}/__PRODUCTNAME__/logs"/>
  <targets>
    <target xsi:type="File" 
            name="logfile" 
            fileName="${logDirectory}/current.log"
            layout="${longdate} ${uppercase:${level}} ${callsite}: ${message} ${exception:format=ToString}"
            maxArchiveFiles="10"
            archiveFileName="${logDirectory}/archive{##}.log"
            archiveOldFileOnStartup="true"
            archiveNumbering="Rolling"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxLevel="Fatal" writeTo="logfile"/>
  </rules>
</nlog>